.v-card__text, .v-card__title {
  word-break: normal;
}

.c-default{
	cursor: default;
}

.c-pointer{
	cursor: pointer;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.v-calendar .v-btn--fab{
 max-width: 100%;
}

.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}

.autocomplete-input{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  box-shadow: inset 0 0 8px 0px #a5a5a5;
}

.v-list-item--active:before{
  opacity: 0 !important;
}

.v-list-item--active:hover:before{
  opacity: 0.04 !important;
}


*::-webkit-scrollbar { 

	width: 7px;
	height: 8px;
}

*::-webkit-scrollbar-track{
  display: none;
}

*::-webkit-scrollbar-thumb {
    background: rgba(50,50,50,0.7);
    border-radius: 2px;
}

div.pill-scroll::-webkit-scrollbar-button {
  height: 15px;
}

textarea {
    cursor: auto;
}

.v-list.v-select-list.v-sheet.theme--light.theme--light{
    background-color:#ffffff
}

.v-autocomplete__content.v-menu__content {
    box-shadow: 0px 0px 20px #00000096;
    border-radius: 7px;
}

.breakwrap{
  white-space: pre-wrap;
}

.v-slide-group__next.tiny, .v-slide-group__prev.tiny {
    min-width: 0;
    width: 5px;
}

.v-slide-group__next.tiny{
    margin-right: -15px;
}

.v-slide-group__prev.tiny {
    margin-left: -15px;
}

.inset-shadow{
    box-shadow: inset 0px 1px 20px 6px #90909030 !important;
}

.theme--light.v-icon {
    color: rgb(0 0 0);
}

.noselect{
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.favorite-btn {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: rgb(0 0 0 / 22%);
}

.v-slide-group__wrapper {
  touch-action: pan-y !important
}

.end{
  position: absolute;
  bottom: 0;
}

.mobile{
  display: none;
}
.desktop{
  display: initial;
}

@media (max-width: 600px) {
  .mobile{
    display: initial;
  }
  .desktop{
    display: none;
  }
}

.labelized {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  top: -10px;
  padding: 0 7px;
  background-color: white;
}

.chip-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}